@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss"; 

@theme {
    --color-primary: #2C3E50;
    --color-secondary: #27AE60;
    --color-neutral: #ECF0F1;
    --color-dark: #141414;
    --color-accent: #2980B9;
    --color-warning: #E67E22;
    --font-montserrat: "Montserrat";
}