@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-secondary: #27ae60;
  --color-neutral: #ecf0f1;
  --color-dark: #141414;
  --color-lightDark: #191919;
  --color-lighterDark: #303030;
  --color-accent: #5890cb;
  --color-warning: #e67e22;
  --font-montserrat: 'Montserrat';
}

html,
body,
#root {
  @apply bg-dark text-neutral;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* Remove number input's up/down arrows in Chrome, Safari, Edge */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input's up/down arrows in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@layer utilities {
  .animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out forwards;
  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}